<ion-header>
  <ion-navbar>
    <ion-title>
      Downloads
      <ion-badge item-end>{{totalItemsCount}}</ion-badge>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="totalItemsCount > 0">
    <ion-item-sliding #slidingItem *ngFor="let item of list;">
      <ion-item>
        <!-- <ion-thumbnail *ngIf="item.nativeURL" item-start>
          <img [src]="item.nativeURL" [alt]="item.name">
        </ion-thumbnail> -->
        <p>{{item.name}}</p>
        <button ion-button clear item-end (click)="showImage(item);">View</button>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" expandable (click)="deleteItem(item,index,slidingItem)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p *ngIf="totalItemsCount === 0">
      <ion-icon name="information-circle"></ion-icon> Restart application, if file(s) not showing after download.
  </p>
</ion-content>